**/__pycache__/
*.py[cod]
.env
**/dist/
starknet-hardhat-example/
**/.vscode/

.git
.gitignore
.env.example
.circleci/
Dockerfile
.dockerignore
test/
.pylintrc
page/
cairo-compiler

# Hardhat specific
node_modules/
hardhat-cache/
