[workspace]

resolver = "2"
members = [
	"crates/server",
	"crates/starknet-server",
	"crates/types",
	"crates/random-number-generator",
	"crates/starknet",
]

[profile.release]
panic = "unwind"

[workspace.package]
authors = ["Mario"]
version = "0.1.0"
edition = "2021"
repository = ""


[workspace.dependencies]

# axum
axum = { version = "0.5" }
hyper = "0.14"
tower-http = { version = "0.4", features = ["full"] }
tower = { version = "0.4", features = ["full"] }

# rpc
rpc-core = { git = "https://github.com/foundry-rs/foundry", rev = "5f2262736feaeabadeef2ae989a78e9b43da8eee", package = "anvil-rpc" }

# async
tokio = { version = "1", features = ["time", "macros", "rt-multi-thread"] }
futures = "0.3"
async-trait = "0.1"

# tracing
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "fmt"] }

# misc
base64 = { version = "0.21.2" }
clap = { version = "4.3.2", features = ["derive"] }
flate2 = { version = "1.0.26" }
serde = { version = "1.0.171", features = ["derive"] }
serde_json = { version = "1.0.81" }
thiserror = { version = "1.0.32" }
anyhow = "1"
tokio-graceful-shutdown = "0.13.0"
indexmap = "2.0.0"
strum = "0.25"
strum_macros = "0.25"

# Starknet dependencies
starknet_api = { version = "0.4.1", features = ["testing"] }
starknet-in-rust = { git = "https://github.com/lambdaclass/starknet_in_rust", rev = "a7e2e56", package="starknet_in_rust" }
blockifier = { git = "https://github.com/starkware-libs/blockifier", rev = "9314c6712d72a6292705dc30339b56808b72a952", package = "blockifier" }
starknet-rs-signers = { version = "0.4.0", package="starknet-signers" }
starknet-rs-ff = { version = "0.3.4", package = "starknet-ff" }
starknet-rs-core = {  version = "0.6.0", package = "starknet-core" }
starknet-rs-providers = {  version = "0.6.0", package = "starknet-providers" }
starknet-rs-accounts = { version = "0.5.0", package = "starknet-accounts" }
starknet-rs-contract = { version = "0.5.0", package = "starknet-contract" }
cairo-felt = { version = "0.8.5", package = "cairo-felt" }
url = "2.4"

# Inner dependencies
starknet-types = { path = "crates/types", package = "types" }
starknet-core = { path = "crates/starknet", package = "starknet" }
random-number-generator = { path = "crates/random-number-generator", package = "random-number-generator" }
num-bigint = { version = "0.4" }

lazy_static = { version = "1.4.0" }
