# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

aliases:
  - &on_main
    context: spaceshard
    filters:
      branches:
        only:
          - main

  - &on_main_after_test_and_build
    <<: *on_main
    requires:
      - build
      - test
      - image-build-amd
      - image-build-arm

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  build:
    parameters:
      cargo_cache_key:
        type: string
    docker:
      - image: cimg/rust:1.74.0
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          keys:
            - << parameters.cargo_cache_key >>
      - run:
          # this step doesn't need to be cached, it's relatively fast (15s on Docker/X-Large)
          name: Install nightly
          command: rustup install nightly
      - run:
          name: Install foundry
          command: ./scripts/install_foundry.sh
      - run:
          name: Build
          command: cargo build --release
      - run:
          name: Clippy check
          command: ./scripts/clippy_check.sh
      - run:
          name: Format check
          command: cargo +nightly fmt --all --check
      - save_cache:
          # Caching dependencies for future use
          # Build and Clippy steps generate their own target artifacts
          # Test also generates, but significantly more
          # Compromise: saving before Test
          paths:
            - /home/circleci/.cargo/registry
            - target/debug/.fingerprint
            - target/debug/build
            - target/debug/deps
            - target/release/.fingerprint
            - target/release/build
            - target/release/deps
          key: << parameters.cargo_cache_key >>

  test:
    parameters:
      cargo_cache_test_key:
        type: string
      cargo_cache_key:
        type: string
    docker:
      - image: cimg/rust:1.74.0
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          keys:
            - << parameters.cargo_cache_test_key >>
            - << parameters.cargo_cache_key >>
      - run:
          name: Build unit tests
          command: cargo test --lib --bins --no-run
      - run:
          name: Build integration tests
          command: cargo test --test '*' --jobs 3 --no-run
      - save_cache:
          paths:
            - target/debug/.fingerprint
            - target/debug/deps
            - target/debug/incremental
          key: << parameters.cargo_cache_test_key >>
      - run:
          name: Run unit tests
          command: cargo test --jobs 7 --lib --bins --no-fail-fast
      - run:
          name: Run integration tests
          command: cargo test --jobs 7 --test '*' --no-fail-fast

  image-build-amd:
    docker:
      - image: cimg/base:2021.04
    resource_class: large
    steps:
      - checkout
      - setup_remote_docker:
          version: docker23
      - run:
          name: Build amd images
          command: ./docker/image_build.sh
          environment:
            ARCH_SUFFIX: "-amd"
            REMOTE: true

  image-build-arm:
    machine:
      image: ubuntu-2004:202111-02
    resource_class: arm.large
    steps:
      - checkout
      - run:
          name: Build arm images
          command: ./docker/image_build.sh
          environment:
            ARCH_SUFFIX: -arm
            REMOTE: ""

  publish:
    docker:
      - image: cimg/rust:1.74.0
    resource_class: medium
    steps:
      - checkout
      - setup_remote_docker:
          version: docker23
      - run:
          name: Publish new versions to crates.io
          command: ./scripts/publish_cratesio_new_versions.sh

      - run:
          name: Create tags and push joint image manifests
          command: ./docker/tag_images_and_create_joint_image_manifests.sh

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  main:
    jobs:
      - build:
          cargo_cache_key: cargo-cache-{{ checksum "Cargo.lock" }}-{{ checksum "rust-toolchain.toml" }}-v1
      - test:
          requires:
            - build
          cargo_cache_test_key: cargo-cache-test-{{ checksum "Cargo.lock" }}-{{ checksum "rust-toolchain.toml" }}-v1
          cargo_cache_key: cargo-cache-{{ checksum "Cargo.lock" }}-{{ checksum "rust-toolchain.toml" }}-v1
      - image-build-amd:
          <<: *on_main
      - image-build-arm:
          <<: *on_main
      - publish:
          <<: *on_main_after_test_and_build
